/* line 1, ../sass/main-styles.scss */
body {
  background-color: #eeeeee;
}

/* line 5, ../sass/main-styles.scss */
hr {
  border-color: #cccccc;
}

/* line 9, ../sass/main-styles.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 15, ../sass/main-styles.scss */
ul.list-separated li {
  border-bottom: 1px dotted #b3b3b3;
  padding: 10px 0 10px 0;
  cursor: pointer;
}

/* line 21, ../sass/main-styles.scss */
ul.list-separated li:last-child {
  border-bottom: 0px solid white;
}

/* line 25, ../sass/main-styles.scss */
h2 i.fa {
  margin-left: 10px;
  font-size: 20px;
}

/* line 30, ../sass/main-styles.scss */
.breadcrumb {
  background-color: transparent;
}

/* line 34, ../sass/main-styles.scss */
.row .btn-group {
  margin-bottom: 40px;
}

/* line 38, ../sass/main-styles.scss */
.data-row {
  background-color: white;
  -webkit-box-shadow: 0 1px 1px 1px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0 1px 1px 1px #ccc;
}

/* line 44, ../sass/main-styles.scss */
.data-row:hover {
  cursor: pointer;
}

/* line 48, ../sass/main-styles.scss */
.data-row-lg {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 12px 0;
}

/* line 54, ../sass/main-styles.scss */
.data-row-sm {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 12px 0;
}

/* line 61, ../sass/main-styles.scss */
.data-row-sm img {
  width: 100%;
  max-width: 100px;
}

/* line 65, ../sass/main-styles.scss */
.bar div {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 71, ../sass/main-styles.scss */
.green {
  background-color: green;
  color: green;
}

/* line 76, ../sass/main-styles.scss */
.red {
  background-color: red;
  color: red;
}

/* line 81, ../sass/main-styles.scss */
.blue {
  background-color: blue;
  color: blue;
}

/* line 86, ../sass/main-styles.scss */
.purple {
  background-color: purple;
  color: purple;
}

/* line 91, ../sass/main-styles.scss */
.brown {
  background-color: brown;
  color: brown;
}

/* line 96, ../sass/main-styles.scss */
.orange {
  background-color: orange;
  color: orange;
}

/* line 101, ../sass/main-styles.scss */
.grey {
  background-color: gray;
  color: gray;
}
