body {
	background-color: #eeeeee;
}

hr {
	border-color: #cccccc;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.list-separated li {
	border-bottom: 1px dotted lighten(black, 70%);
	padding: 10px 0 10px 0;
	cursor: pointer;
}

ul.list-separated li:last-child {
	border-bottom: 0px solid white;
}

h2 i.fa {
	margin-left: 10px;
	font-size: 20px;
}

.breadcrumb {
	background-color: transparent;
}

.row .btn-group {
	margin-bottom: 40px;
}

.data-row {
	background-color: white;
	-webkit-box-shadow: 0 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	box-shadow:         0 1px 1px 1px #ccc;
}

.data-row:hover {
	cursor: pointer;
}

.data-row-lg {	
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 12px 0;
}

.data-row-sm {	
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px;
	padding: 12px 0;
}

.data-row-sm img {
	width: 100%;
	max-width: 100px;
}
.bar div {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.green {
	background-color: green;
	color: green;
}

.red {
	background-color: red;
	color: red;
}

.blue {
	background-color: blue;
	color: blue;
}

.purple {
	background-color: purple;
	color: purple;
}

.brown {
	background-color: brown;
	color: brown;
}

.orange {
	background-color: orange;
	color: orange;
}

.grey {
	background-color: gray;
	color: gray;
}