<div class="container" ng-controller="MainCtrl">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-warning" role="alert" ng-show="0 == 1">Budget Alert Here</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<select class="form-control">
				<option>Filter by provider, provider account, service type, tags</option>
			</select>
		</div>
	</div>	
	
	<div class="row data-row data-row-lg">		
		<div id="linechart" style="width:100%; height:200px;"></div>	
	</div>
	
		<div class="row">
			<div class="col-xs-12">
				<h1>October 2015</h1>
			</div>
		</div>
		<div class="row data-row data-row-lg">
			<div class="col-xs-6">
				<h4>Actual Charges to Date</h4>
				<h1>{{ totalCharges }} <span class="text-danger"><i class="fa fa-arrow-up"></i>+44%</span></h1>
				<!--<h1>{{ billTotal | currency }}</h1>-->
			</div>
			<div class="col-xs-6">
				<h4>Projected October Charges</h4>
				<h1>$275,654 <span class="text-danger"><i class="fa fa-arrow-up"></i>+10%</span></h1>
				<!--<h1>{{ billTotal | currency }}</h1>-->
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h5><strong>Est. Charges to Date</strong></h5>
				<h4>$52,545</h4>
			</div>
			<div class="col-xs-6">
				<h5><strong>Estimated Charges for October</strong></h5>
				<h4>$250,000</h4>
			</div>
		</div>
		<hr>
		<!-- this section will need to be removed -->
		
		<!-- end of removal section -->
		<div class="row" ng-controller="ProviderCtrl">
			<div class="col-xs-12">
				<h3>Providers</h3>
				<ul>
					<li ng-repeat="provider in providers">
						<div class="row data-row data-row-sm" ng-click="showProviderDetails(provider.id)">
							<div class="col-xs-9">Provider Here</div>
							<div class="col-xs-3 text-right">
								>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>

</div>