<div class="page-wrapper">

        <section class="container">

            <div class="row">
                <ol class="col-xs-12 breadcrumb">
                    <li><a ui-sref="dashboard">Dashboard</a></li>
                </ol>
            </div>
            <!--<p class="lead">Use this document as a way to quickly start any new project.</p>-->

            <ul class="list-inline list-unstyled">
                <li>
                    <div class="btn-group">
                        <button type="button" ng-repeat="provider in providers" ng-if="provider == currProvider" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ provider }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="provider in providers" ng-if="provider != currProvider"><a ng-click="showProviderDetails(provider)">{{ provider }}</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h3>October 2015</h3>
                </li>
                <li>
                   <h5>Comparisons are relative to previous month</h5> 
                </li>
            </ul>
            
            <h3>Summary</h3>
            <div class="row">
                <div class="col-xs-3">
                    <dl class="dl-horizontal">
                        <dt>Storage</dt>
                        <dd>2.75 TB</dd>
                        <dt>Data Transfer</dt>
                        <dd>8.65 TB</dd>
                    </dl>
                </div>
                <div class="col-xs-3">
                    <dl class="dl-horizontal">
                        <dt>Average Daily Spend</dt>
                        <dd>$3,405.56</dd>
                        <dt>Total Spend</dt>
                        <dd>{{ computeAcctTotal(providerAccts) | currency }}</dd>
                    </dl>
                </div>
                <div class="col-xs-6">

                    <ul class="list-unstyled list-inline">
                        <li class="pull-right">
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="btnItemActions1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span>More Actions</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="pull-right hidden-xs"><a class="btn btn-link">Generate Report</a></li>
                    </ul>

                </div>
            </div>

            <h2 class="border-bottom" ng-init="acctView == 'list'">Accounts
                <a class="pull-right" ng-click="acctView = 'list'"><i class="fa fa-bars"></i></a>
                <a class="pull-right" ng-click="acctView = 'graph'"><i class="fa fa-line-chart"></i></a>
            </h2>
            <h5>Comparisons are relative to previous month 
                <span class="pull-right">Sort By: {{ sortBy }}
                    <a href="" ng-click="sortList('desc')" ng-if="sortBy == 'asc'">High to Low</a>
                    <a href="" ng-click="sortList('asc')" ng-if="sortBy == 'desc'">Low to High</a>
                </span></h5>
            <div class="row data-row data-row-lg" ng-show="acctView == 'graph'">
                <div class="col-sm-3">
                    <div id="providerDetailsAcctPie" style="min-width: 310px; height: 250px; max-width: 600px; margin: 0 auto"></div>
                </div>
                <div class="col-sm-9">
                    <div id="providerDetailsAcctLine" style="min-width: 810px; height: 250px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="row data-row data-row-lg" ng-show="acctView != 'graph'">
                <div class="col-sm-6"  ng-repeat="account in providerAccts | orderBy: orderListBy">
                    <dl class="dl-horizontal">
                        <dt data-toggle="modal" data-target="#lineItems" ng-click="showLineItems(account)">{{ account.name }}</dt>
                        <dd>{{ account.total | currency }}</dd>
                        <dt class="border-bottom"></dt><dd class="border-bottom"></dd>
                    </dl>
                </div>
            </div>

            <!--
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="border-bottom">Services</h2>

                    <h4>
                        <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa fa-angle-down collapsed-hide"></i>
                            <i class="fa fa-angle-right collapsed-show"></i>
                            &nbsp;<span>VDC</span>
                        </span>
                    </h4>
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a>My VDC</a>
                                </div>
                                <div class="col-sm-4">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            60%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><strong>Amazon Elastic Compute Cloud</strong></div>
                                    <div>Amazon</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <a>My VDC</a>
                                </div>
                                <div class="col-sm-4">
                                    <span class="text-success pull-right progress-icon"><i class="fa fa-check-circle-o"></i></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div>
                                    <div class="progress-text">
                                        <strong>Complete</strong>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><strong>Amazon Elastic Compute Cloud</strong></div>
                                    <div>Amazon</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <a>My VDC</a>
                                </div>
                                <div class="col-sm-4">
                                    <span class="text-danger pull-right progress-icon"><i class="fa fa-times-circle-o"></i></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            60%
                                        </div>
                                    </div>
                                    <div class="progress-text">
                                        <strong>In Progress:</strong> <span>Waiting for User Information</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><strong>Amazon Elastic Compute Cloud</strong></div>
                                    <div>Amazon</div>
                                </div>
                            </div> 
                            
                            <div class="row">
                                <div class="col-sm-4">
                                    <a>My VDC</a>
                                </div>
                                <div class="col-sm-4">
                                    <span class="text-warning pull-right progress-icon"><i class="fa fa-warning"></i></span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            60%
                                        </div>
                                    </div>
                                    <div class="progress-text">
                                        <strong>In Progress:</strong> <span>Waiting for User Information</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div><strong>Amazon Elastic Compute Cloud</strong></div>
                                    <div>Amazon</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <br>
            -->

            <!-- Delete confirmation Modal -->
            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="confirmationModalLabel">Delete Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Confirmation Text Here</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit  Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="editModalLabel">Edit Item</h4>
                        </div>
                        <div class="modal-body">
                            <p>Edit Form Here</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!-- Modal -->
<div class="modal fade" id="lineItems" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">{{ currAcct.name }}</h3>
      </div>
      <div class="modal-body">
        <table class="table table-responsive table-hover" st-table="data.listItems">
                <thead>
                    <tr>
                        <th>
                            <input cs-select-all="data.listItems" type="checkbox" /></th>
                        <th st-sort="'column1'">Category</th>
                        <th st-sort="'column2'">Amount</th>
                        <th st-sort="'column3'">Quantity</th>
                        <th st-sort="'column4'">Resource</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lineItem in lineItems">
                        <td>
                            <input type="checkbox"/></td>
                        <td>{{lineItem.category}}</td>
                        <td>{{lineItem.amount}}</td>
                        <td>{{lineItem.quantity}}</td>
                        <td>{{lineItem.resource_name}}</td>
                        <td class="text-right">
                            <ul class="list-unstyled list-inline list-nomargin">
                                <li>
                                    <a data-placement="left" data-toggle="popover" title="Tooltip for {{listItem.name}}" data-html="true">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <div class="popover-content hidden">
                                        <dl class="dl-horizontal">
                                            <dt>Key</dt>
                                            <dd>Value</dd>
                                            <dt>Key</dt>
                                            <dd>Value</dd>
                                            <dt>Key</dt>
                                            <dd>Value</dd>
                                            <dt>Key</dt>
                                            <dd>Value</dd>
                                            <dt>Key</dt>
                                            <dd>Value</dd>
                                            <dt>Key</dt>
                                            <dd>Value</dd>
                                        </dl>
                                    </div>
                                </li>
                                <!--
                                <li><a data-toggle="modal" data-target="#editModal"><i class="fa fa-edit"></i></a></li>
                                <li><a data-toggle="modal" data-target="#confirmationModal"><i class="fa fa-trash"></i></a></li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown">
                                        <span class="dropdown-toggle" id="Button1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span>Item Actions</span>
                                            <span class="caret"></span>
                                        </span>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </li>-->

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>